.blog__header__text {
   text-align: center;
   margin-top: 140px;
   margin-bottom: 52px;
}

.blog__subtext {
   font-size: 24px;
   font-weight: 400;
   color:#9CA3AF;
   margin-bottom: 40px;
}

.text__wrapper {
   margin-top: 50px;
   text-align: justify;
   margin-left: 45px;
 }

 .blog__title {
   color: #F8FAFC;
   font-size: 36px;
   font-weight: 700;
   margin-bottom: 45px;
 }

 .blog__subtitle {
   color: #F8FAFC;
   font-size: 32px;
   font-weight: 400;
   margin-bottom: 45px;

 }
 
 .blog__list {
   margin-left: 50px;
   font-size: 32px;
   font-weight: 400;
   color: #F8FAFC;
   margin-bottom: 45px;
   list-style-type: disc;
 }

 .further__readings {
   display: table;
 }

 .further__readings__link {
   font-size: 32px;
   font-weight: 400;
   display: flex;
   text-decoration: none;
   text-decoration: underline;
   margin-bottom: 20px;
   color: #F8FAFC;
    
 }