.latest__post__text {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;
}

.latest__post__subtext {
    font-size: 20px;
    font-weight: 400;
    line-height: 23.44px;
    text-align: center;
    color: #CBD5E1;
    margin-bottom: 100px;
}

.latest__post__card2 {
    display: flex;
}

