/* Media */

@media screen and (max-width: 375px) and (max-height: 667px) {
.wrapper {
    max-width: 375px;
}

/*header*/

.header__logo {
    max-width: 150px;
}

.header__wrapper{
    display: flex;
    align-items: flex-start;
    margin-bottom: 39px;
}

.header__logo-img {
    margin-left: 15px;
    height: 20px;
    width: 100%;
}

.header__link {
    text-decoration: none;
    line-height: 11.72px;
    font-weight: 700;
    font-size: 12px;
    color: #F8FAFC;
}

.header__list {
    display: flex;
    flex-wrap: nowrap;
    height: 50%;
    margin: 0;
    max-width: 150px;
}

.header__item {
    margin-right: 10px;
}

/*intro*/

.intro__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.intro__western__man__pic {
    height: 100px;
    width: 100px;
    margin-bottom: 17px;
}

.title {
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
}
    
.intro__subtitle {
    max-width: 280px;
    font-size: 10px;
    font-weight: 500;
    line-height: 11px;
    margin-top: 16px;

}

.intro__text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100px;
}

.intro__pics {
    height: 30px;
    width: 30px;
}

.intro__link {
    display: flex;
    justify-content: center;
}

/*recent__project*/

.recent__project {
    margin-top: 60px;
}

.recent__work {
    flex-direction: column;
    padding: 10px;
    margin-bottom: 24px;
}

.recent__list {
    margin-top: 25px;
}

.recent__work__pic {
    width: 50px; 
    margin-bottom: 18px;
}

.recent__work__title {
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    line-height: 17px;
}

.recent__title__pic {
    width: 70px;
}

.recent__work__subtitle {
    font-size: 10px;
    font-weight: 400px;
    line-height: 11px;
    width: 272px;
}

.recent__subtitle__margin {
    margin-bottom: 10px;
}

/*latest post*/

.latest__post__header {
    margin-top: 37px;
    padding-bottom: 30px;
}

.post__link__text {
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
}

.arrow__right {
    width: 20px;
    height: 20px;
}

.latest__post__main {
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 0;
}

.latest__post__card {
    margin: auto 35px 33px 35px;
}

.latest__post__pic {
    width: 275px;
}

.last__post__name {
    font-size: 15px;
    font-weight: 700px;
    line-height: 17px;
}

.last__post__data, .last__post__title {
    font-size: 12px;
}


/* subscribe */

.subscribe__wrapper {
    margin-top: 41px;
    flex-direction: column;
    margin-bottom: 57px;
}

.subscribe__subtitle {
    margin-top: 20px;
    margin-bottom: 10px;
}

#inputField {
    font-size: 10px;
    min-width: 160px;   
}

button[type="submit"] {
    width: 80px;
    height: 28px;
}

#submitField {
    font-size: 10px;
}

.subscribe__form {
    height: 38px;
    width: 280px;
}

/* footer */

.footer__wrapper {
    flex-direction: column;
}

.footer__text {
    font-size: 8px;
    font-weight: 400;
    line-height: 9px;
}

.footer__link {
    width: 70px;
}

.footer__pics {
    margin-top: 7px;
    width: 10px;
}

.footer__pic {
    margin-left: 5px;
}

/* blog page */

.blog__header__text {
    margin-top: 10px;
    margin-bottom: 17px;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
}

.blog__subtext {
    display: flex;
    justify-content: center;
    font-size: 10px;
    font-weight: 400;
    line-height: 11px;
}

.blog_pic {
    width: 230px;
    height: 180px;
    border-radius: 10%;
    margin-bottom: 38px;
}

.text__wrapper {
    display: flex;
    margin-left: 0px;
    flex-direction: column;
    align-items: center;
}

.blog__title {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 20px;
}

.blog__subtitle {
    font-size: 10px;
    font-weight: 400;
    line-height: 20px;
    width: 232px;
    margin-bottom: 20px;
}

.blog__list {
    font-size: 10px;
    font-weight: 400;
    line-height: 20px;
    margin-left: -16px;
    margin-bottom: 20px;
}

.further__readings__link {
    font-size: 10px;
    line-height: 11px;
    font-weight: 400px;
    margin-bottom: 10px;
}

.further__readings {
    display: flex;
    flex-direction: column;
    margin-right: 140px;
}


/* latest post*/

.latest__post__header {
    display: flex;
    margin-top: 37px;
    padding-bottom: 30px;
    flex-direction: column;
    align-items: center;
}

.latest__post__text {
    margin-top: 10px;
}

.latest__post__subtext {
    font-size: 10px;
    font-weight: 400;
    line-height: 11px;
    margin-bottom: 13px;
    width: 282px;
}

/* newsletter */

.newsletter_list {
    font-size: 10px;
    line-height: 15px;
    margin: 10px 141px 27px auto;
}


}