.newsletter_title {
    font-weight: 500;
    text-align: center;
    margin-top: 120px;
}
.newsletter_subtitle {
    display: flex;
    color: #CBD5E1;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.13px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 35px;
}

.newsletter_list {
    margin-right: 380px;
    list-style-type: disc;
    color: #CBD5E1;  
    font-size: 24px;
    line-height: 30px;
    text-align: justify;
    font-weight: 400;
}

.newsletter_wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.newsletter__form {
    margin-top: 56px;
    margin-bottom: 133px;
   
}

#inputField {
    margin-right: 10px;
    min-width: 624px
}
