/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
 display: block;
}
body {
 line-height: 1;
}
ol, ul {
 list-style: none;
}
blockquote, q {
 quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
 content: none;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
}

/*fonts*/

/* roboto-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/roboto-v30-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* roboto-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/roboto-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* roboto-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/roboto-v30-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* roboto-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/roboto-v30-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

html {
    box-sizing: border-box;
}
*, *::before, *::after{
  box-sizing: inherit;
}

body {
  max-width: 1440px;
  background-color: #0F172A;
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
  margin: 0 auto;
}

.wrapper {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header */

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between ; 
    padding-top: 34px;
    margin-bottom: 39px;
}

.gradient__text {
    background: linear-gradient(0deg, rgba(34,211,238,1) 0%, rgba(14,165,233,1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.header__list {
    display: flex;
    flex-wrap: wrap;
}

.header__item {
    margin-right: 40px;
}

.header__item:last-child {
    margin-right: 0;
}

.header__link {
    text-decoration: none;
    color: #F8FAFC;
    font-size: 24px;
}

.header__link:hover, .header__link:focus, .header__link:active {
    opacity: .75;
    transition: 0.3s;
}

.title {
    font-size: 48px;
    line-height: 56.25px;
    color: white;
    font-weight:700;
}

/* latest post */

.latest__post__card {
    background-color: #1E293B;
    margin-right: 20px;
    border-radius: 20px;
    box-sizing: border-box; 
    max-width: 370px;
}

.latest__post__main {
    display: flex;
    margin-bottom: 91px;
}

.last__post__name {
    margin-top: 23px;
    font-weight: 700;
    font-size: 24px;
    color: #F8FAFC;
}

.last__post__data {
    margin-top: 23px;
    font-weight: 400;
    font-size: 20px;
    color: #9CA3AF
}

.last__post__title {
    color: #F8FAFC;
    font-weight: 400;
    font-size: 20px;
    margin: 23px 14px 35px 14px;
}

.latest__post__txt {
    text-align: center;
}

/*recent*/

.recent__work__subtitle {
    font-size: 20px;
    font-weight: 400px;
    line-height: 23.44px;
    color: #CBD5E1;
}

/* subscribe */

.subscribe__subtitle {
    max-width: 550px;
    margin-top: 33px;
}

.subscribe__wrapper {
    align-items: center;
    justify-content: space-between;
    margin-top: 120px;
    display: flex;
    margin-bottom: 120px;
}

input[type="email"] {
    background-color: #1E293B; 
    outline: none;
    border: none;
}

#inputField {
    font-size: 20px;
    font-weight: 400;
    color: #CBD5E1;
    margin-right: 10px;
    min-width: 322px
}

::placeholder {
    color: #CBD5E1;
}

.subscribe__form {
    display: flex;
    align-items: center;
    height: 70px;
    background-color: #1E293B;
    padding: 20px;
    border-radius: 30px;
}

button[type="submit"] {
    border: none;
    border-radius: 30px;
    width: 164px;
    height: 46px;
    background: linear-gradient(270deg, #22D3EE 50%, #0EA5E9 100%);
}

#submitField {
    font-weight: 700;
    font-size: 20px;
    color: #1E293B;
}

.subscribe__form button:hover {
    cursor: pointer;
    background:#0EA5E9;
    transition: 1s;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,112,253,1) 100%);
}

#submitField:active {
    background: linear-gradient(0deg, rgba(45, 112, 253, 1) 0%, rgba(34, 193, 195, 1) 100%);
}

form {
    display: flex; 
}

/* footer*/

.horisont__line {
    color: #CBD5E1;
    border-width: 1px;
    margin-bottom: 15px;
}

.footer__wrapper {
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 15px;
}

.footer__text {
    color: #CBD5E1;
    font-size: 20px;
    font-weight: 500;
}

.footer__link {
    display: flex;
    align-items: center;
}

.footer__pic {
    margin-left: 23px;
    text-decoration: none;
}

.footer__pic:first-child {
    margin-left: 0;
}


