/* Intro */

.intro__subtitle {
  color: rgba(203, 213, 225, 1);
  font-weight: 500;
  font-size: 26px;
  line-height: 40.47px; 
  width: 713px;
  height: 165px;
  margin-top: 48px;
}

.intro__wrapper {
  display: flex;
  justify-content: space-between;
}

.intro__pic {
  margin-left: 32px;
  text-decoration: none;
}

.intro__pic:first-child {
  margin-left: 0;
}

/* Recent__project */

.recent__project {
  margin-top: 133px;
}

.recent__list {
  margin-top: 83px;
}

.recent__work {
  display: flex;
  margin-bottom: 41px;
  justify-content: space-between;
  align-items: center;
  background-color: #1E293B66;
  border-radius: 20px;
  padding: 30px;
}

.recent__work__title {
  display: flex;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 25px;
  color: #F8FAFC;
  
}

.recent__title__pic {
  margin-left: 20px;
}

/* latest post */

.latest__post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 36px;
  padding-bottom: 29px;
}

.latest__post__btn {
  display: flex;
  text-decoration: none;
  align-items: center;

}

.post__link__text {
  font-size: 20px;
  font-weight: 700;
  margin-right: 12px;
  color: #F8FAFC;
}

.latest__post__link:hover, .latest__post__link:focus, .latest__post__link:active {
  opacity: .75;
  transition: 0.3s;
}


